@page
@model Project.Pages.AnkylozursModel
@{
    ViewData["Title"] = "Ankylozurs";
}
<link href="~/css/style.css" rel="stylesheet" />

<body>
    <div class="container">
        <header>
            <h1>Ankylozurs</h1>
        </header>
        <div class="section">
            <h2>About Ankylozurs</h2>
            <p>
                Ankylosaurs Dinosaurs lived 70 million to 66 million years a go in the North America during the Late Creatceous Period.They are a genus belonging to a large grouping of four legged heavily armoured herbivorous dinosaurs that flourished throughout the creatceous Period. Ankylosaurs was one of the largest ankylosaurs.
            </p>

            <img src=' https://assets.onyamagazine.com/wp-content/uploads/2021/09/24161512/Screen-Shot-2021-09-24-at-4.15.11-pm.png'
                 alt='Ankylosaurs one' />
        </div>

        <div class="section">

            <h2>Body </h2>
            <p>
                As it mentioned above Anklosaurs was one of the largest anklosaurs with total length up 10 meters (33
                feet) and its weight is about four tones. When you convert the 4 tones to a pound it comes to around
                8818 pound. The height of Dilophosaurs is at about 7 m(23 ft) in length, with a weight of about 400 kg
                (800 lb). It was one of the largest predatory dinosaurs and the largest land animal in North America in
                that time.
            </p>
            <img src='https://c8.alamy.com/comp/2JCHC10/real-size-dinosaur-ankylosaurus-in-jurassic-park-2JCHC10.jpg'
                 alt=' two' />
            <h2>Facts </h2>
            <ol>
                <li>Ankylosaurus lived in the late Cretaceous period. </li> <br />
                <li>Ankylosaurus has been found in north west USA and in Canada. </li>
                <br />
                <li>Ankylosaurus is a member of a group of dinosaurs known as the ‘armored dinosaurs’. </li>
                <br />
                <li>The fist Ankylosaurus fossil was discovered in 1906 by famous dinosaur hunter Barnum Brown. </li>
                <br />
                <li>Brown named the Ankylosaurus in 1908. The genus name means ‘fused lizard’. </li>
                <br />
                <li>Ankylosaurus grew up to around 10 metres (33 ft.) in length. </li>
                <br />
                <li>It weighed between 5 and 7 tonnes (5.5 and 7.7 short tons).</li>
                <br />
                <li>Ankylosaurus was covered in bony plates called scutes.</li>
                <br />
                <li>Ankylosaurus’s primary weapon was a bony club on the end of its tail.</li>
                <br />
                <li>Ankylosaurus was a herbivore that grazed on low-growing plants. </li>
                <br />
            </ol>
        </div>
        <hr />
        <style>
            .section.questions {
                background-color:lightslategrey;
                border-radius:5px;
                padding:15px;
            }
        </style>
        <div class="section">
            <h4>Sources</h4>
            <p class='sources'>
                <a href='https://assets.onyamagazine.com/wp-content/uploads/2021/09/24161512/Screen-Shot-2021-09-24-at-4.15.11-pm.png'>Image1</a>
                <a href='https://c8.alamy.com/comp/2JCHC10/real-size-dinosaur-ankylosaurus-in-jurassic-park-2JCHC10.jpg'>Image2</a>
                <a href='https://www.activewild.com/ankylosaurus-facts-information-pictures/'>Information Source One</a>
                <a href='https://www.britannica.com/animal/Ankylosaurus'>Information Source Source Two</a>
            </p>
        </div>
    </div>

</body>

