@page
@model project.Pages.SpinosaurusModel
@{
}
<link href="~/css/style.css" rel="stylesheet" />
<body>
    <div class="container">
        <header>
            <h1>Spinosaurus</h1>
        </header>
        <div class="section">
            <h2>About Spinosaurus </h2>
            <p>
                Introduction to Spinosaurus:
                Spinosaurus, meaning "spine lizard," is a genus of theropod dinosaur that lived during the Cretaceous period, approximately 112 to 93.5 million years ago.
                It is known for its distinctive sail-like structure on its back, formed by elongated neural spines.
                Spinosaurus is considered one of the largest carnivorous dinosaurs, surpassing even Tyrannosaurus rex in size.

            </p>

            <img src="https://cdn.britannica.com/54/128854-050-F5C98A54/Spinosaurus.jpg"
                 alt='Spinosaurus one' />
        </div>

        <div class="section">

            <h2>Body </h2>
            <p>
                Anatomy and Physiology of Spinosaurus:
                Spinosaurus had a long, crocodile-like snout filled with conical teeth, indicating a diet primarily of fish.
                Its sail-like structure, composed of elongated neural spines connected by skin, likely served multiple functions, including thermoregulation, display, or species recognition.
                Spinosaurus had robust forelimbs with hooked claws, suggesting it may have been capable of grasping and manipulating prey.


            </p>
            <img src="https://st.depositphotos.com/1042659/3978/i/450/depositphotos_39784097-stock-photo-dinosaur-spinosaurus.jpg" alt='spinosaurus two' />

            <h2>Facts </h2>
            <p>
                Paleobiology and Paleoenvironment of Spinosaurus:
                Spinosaurus inhabited a diverse range of environments, including riverine and coastal regions of North Africa. Fossil evidence suggests it was semiaquatic, spending much of its time in water, perhaps even swimming like a modern crocodile.
                Its adaptations for an aquatic lifestyle, such as paddle-like hind limbs and dense bones for buoyancy, indicate a specialized hunting strategy focused on aquatic prey.

            </p>
        </div>
        
        <div class="section">
            <h4>Sources</h4>
            <p class='sources'>
                <a href='https://www.istockphoto.com/photos/spinosaurus'>Images</a>
                <a href='https://www.britannica.com/animal/Spinosaurus'>Information </a>
                <a href='https://www.nhm.ac.uk/discover/dino-directory/spinosaurus.html'>Information </a>
            </p>
        </div>
    </div>

</body>
